<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Savvy Dashboard</title>

    <link  href="/static/calender/fonts/icomoon/style.css" rel="stylesheet" >

    <link  href="/static/calender/css/rome.css" rel="stylesheet" >
    
    <!-- Bootstrap CSS -->
    <link   href="/static/calender/css/bootstrap.min.cs" rel="stylesheet" >
    
    <!-- Style -->
    <link  href="/static/calender/css/style.css" rel="stylesheet" >

    <!-- Custom fonts for this template-->
    <link href="/static/" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.svg') }}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a style="border-color: #8341c3; background-color: #8341c3;" class="sidebar-brand d-flex align-items-center justify-content-center"  >
                
                <div  style='font-size: 13px;' class="sidebar-brand-text mx-2">Savvy Marketing Dashboard </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">


        
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('homedirect')}}">
                    <span style="font-weight: bold; font-size: medium;">Homepage</span>
                </a>
             
            </li>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <p style="color: black; "id="clock">{{date_now}}</p>
                    <script>
                        var clock = document.getElementById("clock");
                        setInterval(() => {
                          
                            clock.innerHTML = new Date().toLocaleString()
                            }, 1000);  
                    </script>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow d-flex align-items-center">
                            <a class="nav-link dropdown-toggle px-0" id="userDropdown" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{username}}</span>
                                <img class="img-profile rounded-circle"
                                    src="/static/img/undraw_profile.svg">
                                    <div class="topbar-divider d-none d-sm-block"></div>

                                    <a style="height: fit-content; margin: 2px; background-color: #8341c3; border-color: #8341c3;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ url_for('logout') }}" role="button">Log out</a>
                            
                                </a>
                            
                            <!-- Dropdown - User Information -->
                           
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 style="font-size: 25px;"class="h3 mb-0 text-gray-800">{{var}} History</h1>

                        <div class="container text-left">
                            <div class="row justify-content-center">
                              <div class="col-lg-3">
                                <form action="{{url_for('search',var=var)}}" method="post" class="row">
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <input type="text" name="input" class="form-control" id="input" placeholder="Search">
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                                
                          </div>
                        <h1 style="text-align: right; font-size: 17px;  ">Last 7 days: <a style="color: #8341c3;">{{Seven}} </a></h1>
                        <h1 style="text-align: right; font-size: 17px;  ">Last 30 days:  <a style="color: #8341c3;">{{Thirty}}</a></h1>

                       
                    </div>
                    {% if var=="Crash Free users" or var=="Average Transaction Value"%}
                    {% else %}
                    <a style="height: fit-content; margin: 2px; text-align: left; background-color: #8341c3; border-color: #8341c3;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ url_for('stats',var=var) }}" role="button">Statistics <i class="fa fa-bar-chart" aria-hidden="true"></i></a>


                    {% endif%}
                    <div >
                        
    
                        
                      </div>
                        
                       
                    </div>

                    <!-- Content Row -->
                    <table style="margin: 3px;">

                        <thead>
                            
                          <tr>
                            <th style="width: 13%; color: #8341c3"scope="col" >#</th>
                            <th style="width: 13%;  color: #8341c3 "scope="col" >Date</th>
                            <th style="width: 13%;  color: #8341c3 "scope="col" >{{var}}</th>
                          </tr>
                          {% for i in usersData %}
                        </thead>
                        <tbody>
                          <tr>
                            <td style="color: black;">{{loop.index}}</td>   
                            <td style="color: black;">{{i.date}}</td>
                            <td style="color: black;">{{i.count}}</td>
                          </tr>
                          {% else %}
                          {% endfor %}
                   
                <!-- /.container-fluid -->


        </div>

    </div>
</ul>


{% if var1 is defined%}
<a id="fixedbutton" style="text-align: right; height: fit-content; margin: 2px; background-color: #8341c3; border-color: #8341c3;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ url_for('getPlotCSV',var=var,var1=var1) }}"   role="button">Generate report <i class="fa fa-download"></i></a>
{% else %}
<a id="fixedbutton" style="text-align: right; height: fit-content; margin: 2px; background-color: #8341c3; border-color: #8341c3;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ url_for('getPlotCSV1',var=var) }}"   role="button"> Generate report <i class="fa fa-download"></i></a>

{% endif %}
 <style>
     #fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    font-size: 15px;
}
 </style>  

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>


    <script src="/static/calender/js/jquery-3.3.1.min.js"></script>
    <script src="/static/calender/js/popper.min.js"></script>
    <script src="/static/calender/js/bootstrap.min.js"></script>
    <script src="/static/calender/js/rome.js"></script>

    <script src="/static/calender/js/main.js"></script>
</body>

</html>
