<!DOCTYPE html>
<html lang="en">

<head>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script src = "https://code.highcharts.com/highcharts.js"></script>  

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Savvy Dashboard</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.svg') }}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="/static/" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.svg') }}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a style="border-color: #8341c3; background-color: #8341c3;" class="sidebar-brand d-flex align-items-center justify-content-center"  >
                
                <div class="sidebar-brand-text mx-2">Savvy Marketing Dashboard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

        
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('homedirect')}}">
                    <span style="font-weight: bold; font-size: medium;">Homepage</span>
                </a>
             
            </li>



            <!-- Heading -->
          
            <!-- Nav Item - Pages Collapse Menu -->
          



        </ul>
    
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <p style="color: black; "id="clock"></p>
                    <script>
                        var clock = document.getElementById("clock");
                        setInterval(() => {
                          
                            clock.innerHTML = new Date().toLocaleString()
                            }, 1000);  
                    </script>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-flex align-items-center">
                            <a class="nav-link dropdown-toggle px-0" id="userDropdown" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{username}}</span>
                                <img class="img-profile rounded-circle"
                                    src="/static/img/undraw_profile.svg">
                                    <div class="topbar-divider d-none d-sm-block"></div>

                                    <a style="height: fit-content; margin: 2px; background-color: #8341c3; border-color: #8341c3;" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ url_for('logout') }}" role="button">Log out</a>
                            
                                </a>
                            
                            <!-- Dropdown - User Information -->
                           
                        </li>


                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                     
                        <!-- Nav Item - Alerts -->
                        

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">


                    <div class="row">
                        <canvas id="myChart" style = "width: 550px; height: 200px; margin: 0 auto"></canvas>



<!-- 
                        <script>
                            $(document).ready(function() {  
                                       var chart = {
                                          type: 'column'
                                       };
                                       var title = {
                                          text: 'Column chart with negative values'   
                                       };   
                                       var xAxis = {
                                          categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
                                       };
                                       var credits = {
                                          enabled: false
                                       };
                                       var series = [
                                          {
                                             name: 'January',
                                             data: [5]
                                          }, 
                                          {
                                             name: 'February',
                                             data: [ -2]
                                          }, 
                                          {
                                             name: 'March',
                                             data: [3,]
                                          },

                                          {
                                             name: 'April',
                                             data: [5]
                                          }, 
                                          {
                                             name: 'May',
                                             data: [ -2]
                                          }, 
                                          {
                                             name: 'June',
                                             data: [3,]
                                          },

                                          {
                                             name: 'July',
                                             data: [5]
                                          }, 
                                          {
                                             name: 'August',
                                             data: [ -2]
                                          }, 
                                          {
                                             name: 'September',
                                             data: [3,]
                                          },

                                          {
                                             name: 'October',
                                             data: [5]
                                          }, 
                                          {
                                             name: 'November',
                                             data: [ -2]
                                          }, 
                                          {
                                             name: 'December',
                                             data: [3]
                                          }
                                       ];     
                                 
                                       var json = {};   
                                       json.chart = chart; 
                                       json.title = title; 
                                       json.xAxis = xAxis;
                                       json.credits = credits;
                                       json.series = series;
                                       $('#container').highcharts(json);
                                    });
                           </script> -->
<script>
var xValues = ["January", "February", "March", "April", "May","June","July","August","September","October","November","December"];
var yValues = ['{{january}}', '{{february}}', '{{march}}', '{{april}}', '{{may}}','{{june}}','{{july}}','{{august}}','{{september}}','{{october}}','{{november}}','{{december}}'];
var barColors = ["red", "green","blue","orange","brown","purple","yellow","orange","violet","black","grey",'maroon'];
var name='{{var}}'
var date = '{{date}}'
new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: name +' '+"History 2021 till("+' '+ date+')'
    }
  }
});
</script>
                        
                        </div>
                    </div>

                    
                  
                    <!-- Content Row -->

                
                </div>



        </div>
       
</ul>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

</body>

</html>